<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Polytech School</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'project/css/style.css' %}">
    <link rel="shortcut icon" href="{% static 'project/img/favicon.ico.png' %}" type="image/png">
</head>
<body>
    <!-- для регулирования отступов сбоку -->
    <header class="container">
        <img class="icon" src="{% static 'project/img/icsv.svg' %}" alt="">

        <ul>
            <li class="ic1">POLYTECH</li>
            <li class="ic2">SCHOOL</li>
        </ul>
        <nav class="top">
            <ul>
                <li><a href="#part1">Как всё устроено</a></li>
                <li><a href="#part2">О нас</a></li>
                <li><a href="#part3">Отзывы</a></li>
                <li class="btn"><a href="login">Вход</a></li>
            </ul>
        </nav>
    </header>
    <hr class="line">
    <div class="hero container">
        <div class="hero--info">
            <div class="word">
                <h1 class='font1'>Подготовка к ЕГЭ по</h1>
                <h1 class='font2'>информатике</h1>
            </div>
            <ul>
                <div class="w1">
                    <img class="star" src="{% static 'project/img/Group 167.svg' %}">
                    <li class="arr">Актуальные материалы с разбором заданий из прошлых лет</li>
                    <img class="star" src="{% static 'project/img/Group 167.svg' %}">
                    <li class="arr">Большая база тренировочных заданий с решениями</li>
                    <img class="star" src="{% static 'project/img/Group 167.svg' %}">
                    <li class="arr">Удобные интерактивные тесты для самопроверки</li>
                    <img class="star" src="{% static 'project/img/Group 167.svg' %}">
                    <li class="arr">Качественная подготовка</li>
                </div>
            </ul>
        </div>
        <img class="robot" src="{% static 'project/img/image 19.svg' %}" alt="">
        <div class="qad">
            <div class="text">
                <p class="t1">Определи уровень текущих знаний</p>
                <div class="black"></div>
                <p class="t2">Реши пробник бесплатно и узнай свои реальные баллы!</p>
                <p class="btn1"><a href = "#">Решить пробник</a></p>
            </div>
        </div>
        <div class="blu"></div>
        <div class="panel">
            <p class="zag">Для кого предназначен наш курс</p>
            <div class="p1"></div>
            <div class="p2"></div>
            <div class="p3"></div>
            <div class="p4"></div>
            <div class="p5"></div>
            <div class="p6"></div>
        </div>
        <nav class="top1">
            <ul>
                <li class="word1">Учишься в школе и планируешь сдавать ЕГЭ</li>
                <img class="img1" src="{% static 'project/img/img1.svg' %}" alt="">
                <li class="word2">Хочешь найти новых коллег с общими интересами</li>
                <img class="img2" src="{% static 'project/img/img2.svg' %}" alt="">
                <li class="word3">Хочешь поступить в топовый вуз страны</li>
                <img class="img3" src="{% static 'project/img/img3.svg' %}" alt="">
                <li class="word4">Нужен помощник в обучении и решении сложных задач</li>
                <img class="img4" src="{% static 'project/img/img4.svg' %}" alt="">
                <li class="word5">Научиться программировать и отработать навыки алгоритмизации</li>
                <img class="img5" src="{% static 'project/img/img5.svg' %}" alt="">
                <li class="word6">Нужен гибкий график, который легко совмещать со школой</li>
                <img class="img6" src="{% static 'project/img/img66.svg' %}" alt="">
            </ul>
        </nav>
        <div class="kurs">
            <h2>Курс</h2>
            <h3>Политехник</h3>
            <ul>
                <div class="w2">
                    <img class="star2" src="{% static 'project/img/star2.svg' %}">
                    <li class="arr">Все темы экзамена в интенсивном формате</li>
                    <img class="star2" src="{% static 'project/img/star2.svg' %}">
                    <li class="arr">Разбор заданий на языке программирования Python</li>
                    <img class="star2" src="{% static 'project/img/star2.svg' %}">
                    <li class="arr">Задания подобранные из проверенных сборников</li>
                    <img class="star2" src="{% static 'project/img/star2.svg' %}">
                    <li class="arr">Решение всех разновидностей каждого задания</li>
                    <img class="star2" src="{% static 'project/img/star2.svg' %}">
                    <li class="arr">Система отслеживания прогресса</li>
                    <img class="star2" src="{% static 'project/img/star2.svg' %}">
                    <li class="arr">Видеообзор заданий</li>
                    <img class="ava" src="{% static 'project/img/ava.svg' %}" alt="">
                </div>
            </ul>
        </div>
        <div class="invite">
            <div class="text">
                <p>Записывайся прямо сейчас и готовься к ЕГЭ по информатике с лучшими! Вместе мы обязательно добьемся результата</p>
                <img src="{% static 'project/img/r1.png' %}" alt="">
                <a class="btn3" href="#">Записаться на курс</a>
            </div>
        </div>
        <div class="bl"></div>
        <div class="tab">
            <h2 id="part1">Как всё устроено</h2>
            <p>Образовательная платформа</p>
            <div class="photo"></div>
            <img src="{% static 'project/img/photo1.svg' %}" alt="">
        </div>
        <div class="obr">
            <ul>
                <div class="w3">
                    <li class="arr">Занимайся с любого устройства в удобное время</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr">Отслеживай свой прогресс</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr">Получай углубленные знания для каждого задания</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr">Задавай любые вопросы куратору</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr">Используй наш банк задания для отрабатывания навыков</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                </div>
            </ul>
        </div>
        <div class="teor">
            <p>Теория и практика</p>
            <ul class="ind">
                <div class="w4">
                    <li class="arr">Собрали опыт лучших экспертов по подготовке к ЕГЭ</li>
                    <class class="one"><p></p></class>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr1">Можно тренироваться на заданиях одного номера</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr">Задания разбиты по уровню сложности</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                    <li class="arr2">Несколько вариантов решений для каждого задания</li>
                    <img class="star3" src="{% static 'project/img/star3.svg' %}">
                </div>
            </ul>
        </div>
        <div class="obshee">
            <div class="af1"><p class="f1">А. Рогов</p></div>
            <div class="af2"><p class="f2">КЕГЭ</p></div>
            <div class="af3"><p class="f3">Е. Джобс</p></div>
            <div class="af4"><p class="f4">А. Кабанов</p></div>
            <div class="af5"><p class="f5">Яндекс учебник</p></div>
            <div class="af6"><p class="f6">PRO100 ЕГЭ</p></div>
        </div>
        <div class="creatures">
            <h2>Создатели</h2>
            <div class="creators">
                <div class="text1">Рычко Егор
                    <p>Закончил Лицей №17 г. Славгорода. Сдал ЕГЭ по  информатике на 83 балла. Обучаюсь на ИШИТРЕ.  </p>
                    <img src="{% static 'project/img/Ellipse 140.svg' %}" alt="">
                </div>
                <div class="text2">Козленко Сергей
                    <p>В 2023 году окончил Лицей №17 г. Славгорода. Сдал ЕГЭ на 70 баллов. Студент Томского Политеха</p>
                    <img src="{% static 'project/img/Ellipse 140.svg' %}" alt="">
                </div>
                <div class="text3">Заикин Игорь
                    <p>Сдал ЕГЭ на 80 баллов, что помогло поступить в один из лучших вузов страны - Томский Политех</p>
                    <img src="{% static 'project/img/Ellipse 140.svg' %}" alt="">
                </div>
                <div class="text4">Ковалевский Александр
                    <p>Закончил Яндекс Лицей. Сдал ЕГЭ на 72 балла. Студент ИШИТРа</p>
                    <img src="{% static 'project/img/Ellipse 140.svg' %}" alt="">
                </div>
                <div class="fon1"></div>
                <div class="fon2"></div>
                <div class="fon3"></div>
                <div class="fon4"></div>
            </div>
            <nav class="top2">
                <ul>
                    <img class = "egor" src="{% static 'project/img/Group 189.svg' %}" alt="">
                    <img class = "serg" src="{% static 'project/img/Group 192.svg' %}" alt="">
                    <img class = "igor" src="{% static 'project/img/Group 190.svg' %}" alt="">
                    <img class = "sanya" src="{% static 'project/img/Group 193.svg' %}" alt="">
                </ul>
            </nav>
        </div>
        <img class = "img7" src="{% static 'project/img/Group 194.svg' %}" alt="">
    <div class="reviews">
        <h3>Оставить отзыв</h3>
        <div class="gray"></div>
        <div class="white"></div>
        <div class="gray2">Отправить</div>
        <div class="blue"></div>
        <img class = "ishitr" src="{% static 'project/img/image 18.svg' %}" alt="">
        <div class="names"><p>POLYTECH SCHOOL</p></div>
        <div class="company">
            <p>ООО “POLYTECH SCHOOL”</p>
        </div>
        <div class="adres">
            <p>Вершинина 39А, Томск</p>
        </div>
        <h4>Навигация по сайту</h4>
        <div class="navigation">
            <ul>
                <li>о нас</li>
                <li>поддержка</li>
                <li>материалы и статьи</li>
                <li>отзывы</li>
            </ul>
        </div>
        <h5>Свзаться с нами</h5>
        <div class="navigation2">
            <ul>
                <li>polutech.sch@mail.ru</li>
            </ul>
        </div>
        <img class="letter" src="{% static 'project/img/письмо 1.svg' %}" alt="">
        <img class = "vk" src="{% static 'project/img/Ellipse 140.svg' %}" alt="">
        <img class = "tg" src="{% static 'project/img/Ellipse 143.svg' %}" alt="">
    </div>
    </div>
</body>
</html>
