@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap');
/**
  Нормализация блочной модели
 */
 *,
 *::before,
 *::after {
   box-sizing: border-box;
 }
 
 /**
   Убираем внутренние отступы слева тегам списков,
   у которых есть атрибут class
  */
 :where(ul, ol):where([class]) {
   padding-left: 0;
 }
 
 /**
   Убираем внешние отступы body и двум другим тегам,
   у которых есть атрибут class
  */
 body,
 :where(blockquote, figure):where([class]) {
   margin: 0;
 }
 
 /**
   Убираем внешние отступы вертикали нужным тегам,
   у которых есть атрибут class
  */
 :where(
   h1,
   h2,
   h3,
   h4,
   h5,
   h6,
   p,
   ul,
   ol,
   dl
 ):where([class]) {
   margin-block: 0;
 }
 
 :where(dd[class]) {
   margin-left: 0;
 }
 
 :where(fieldset[class]) {
   margin-left: 0;
   padding: 0;
   border: none;
 }
 
 /**
   Убираем стандартный маркер маркированному списку,
   у которого есть атрибут class
  */
 :where(ul[class]) {
   list-style: none;
 }
 
 /**
   Обнуляем вертикальные внешние отступы параграфа,
   объявляем локальную переменную для внешнего отступа вниз,
   чтобы избежать взаимодействие с более сложным селектором
  */
 p {
   --paragraphMarginBottom: 24px;
 
   margin-block: 0;
 }
 
 /**
   Внешний отступ вниз для параграфа без атрибута class,
   который расположен не последним среди своих соседних элементов
  */
 p:where(:not([class]):not(:last-child)) {
   margin-bottom: var(--paragraphMarginBottom);
 }
 
 
 /**
   Упрощаем работу с изображениями
  */
 img {
   display: block;
   max-width: 100%;
 }
 
 /**
   Наследуем свойства шрифт для полей ввода
  */
 input,
 textarea,
 select,
 button {
   font: inherit;
 }
 
 html {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   height: 100%;
 }
 
 /**
   Плавный скролл
  */
 html,
 :has(:target) {
   scroll-behavior: smooth;
 }
 
 body {
   /**
     Пригодится в большинстве ситуаций
     (когда, например, нужно будет "прижать" футер к низу сайта)
    */
   min-height: 100%;
   /**
     Унифицированный интерлиньяж
    */
   line-height: 1.5;
 }
 
 /**
   Приводим к единому цвету svg-элементы
  */
 svg *[fill] { fill: currentColor }
 svg *[stroke] { stroke: currentColor }
 
 /**
   Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
 svg * {
   transition-property: fill, stroke;
 }
 
 /**
   Удаляем все анимации и переходы для людей,
   которые предпочитают их не использовать
  */
 @media (prefers-reduced-motion: reduce) {
   * {
     animation-duration: 0.01ms !important;
     animation-iteration-count: 1 !important;
     transition-duration: 0.01ms !important;
     scroll-behavior: auto !important;
   }
 } 
.container{
    width: 1400px;
    margin: 0 auto;
}


header{
    padding: 50px 0;
}

header nav{
    float:right;
    width: 50%;
}
.top{
    position: relative;
    bottom: 165px;
}
.container h2{
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
}

header nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li{
    list-style-type:none;
    
}

h1{
    font-family:'Arsenal';
    font-size: 54px;
}
.hero--info li
{
    font-size:24px;
    margin-bottom:10px;
    font-family: "Inter";
}

.hero--info h1{
    width: 700px;
}
header nav ul li.btn a{
    background: #D9D9D9;
    padding: 6px 15px 8px 15px;
    border-radius: 12px;
}
/* шапка сайта */
header nav ul li {
    font-family: "Arsenal";
    font-size: 24px;
    color: #000;

}
/* Подчеркивание ссылок */
a{
    color: #000;
    text-decoration: none;
}
.icon {
    margin-top: 10px;
    height: 60px;
    width: 60px;
}

/* POLYTECH */
.ic1{
    position: relative;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    color: #000;
    left:30px;
    bottom: 75px;
}
/* SCHOOL */
.ic2{
    position: relative;
    font-family: "Inter";
    font-size: 24px;
    font-weight: 700;
    color: #000;
    left: 44px;
    bottom: 90px;
}
header{
    padding: 0px;
}



.line {
    width: 100%;
    border: none; /* Убираем границу */
    background-color:#4988FD; /* Цвет линии */
    color: #4988FD; /* Цвет линии для IE6-7 */
    height: 1px; /* Толщина линии */
    position: relative;
    bottom: 165px;
}
/* Подготовка е ЕГЭ */
.font1{
    position: relative;
    bottom: 80px;
    left: 55px;
}
.font2{
    position: relative;
    bottom: 80px;
    left: 100px;
}

.robot{
    position: relative;
    bottom: 520px;
    left: 750px;
    width: 700px;
    height: 700px;    
}
/* список +     */
.w1{
    position: relative;
    bottom: 47px;
    right: 10px;
}
.hero.container{
    height: 600px;
}

.star{
    position: relative;
    top: 23px;
    right: 25px;
}
.qad{
  position: relative;
  bottom: 530px;
  z-index: 3;
  height: 170px;
  width: 1250px;
  background-color: #3EA1E1;
  margin-left: auto ;
  margin-right: auto ;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}
.text p{
  z-index: 2;
  position: relative;
  text-align: center;
  margin-top: 15px;
}
.t1{
  color:white;
  font-family: "Inter";
  font-size: 28px;
  font-weight: 700;
  position: relative;
  right: 240px;
  padding-top: 50px;
}

.t2{
  color:white;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 700;
  position: relative;
  right: 150px;
  bottom: 40px;
}

.black{
  z-index: 1;
  height: 32px;
  width: 115px;
  background-color: #000;
  transform: skewy(2deg);
  position: relative;
  left: 535px;
  bottom: 36px;
}

.btn1{
  position: relative;
  background-color: #000;
  height: 50px;
  width: 270px;
  border-radius: 15px;
  left: 950px;
  bottom: 130px;
}
.btn1 a{
  position: relative;
  top: 10px;
  left: 5px;
  font-family: "Inter";
  color:  white;
  font-size: 18px;
  font-weight: 700;
}
.blu{
  position: relative;
  height: 920px;
  width: 1400px;
  background: #B6E3F7;
  margin-left: auto ;
  margin-right: auto ;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  bottom: 530px;
}

.p1{
  position: relative;
  background: white;
  height: 150px;
  width:  500px;
  bottom: 1360px;
  left: 70px;
  border-radius: 40px;

}
.p2{
  position: relative;
  background: white;
  height: 150px;
  width:  500px;
  bottom: 1250px;
  left: 70px;
  border-radius: 40px;
}

.p3{
  position: relative;
  background: white;
  height: 150px;
  width:  500px;
  bottom: 1140px;
  left: 70px;
  border-radius: 40px;
} 
 
.p4{
  position: relative;
  background: white;
  height: 150px;
  width:  500px;
  bottom: 1290px;
  left: 830px;
  border-radius: 40px;
}

.p5{
  position: relative;
  background: white;
  height: 150px;
  width:  500px;
  bottom: 1700px;
  left: 830px;
  border-radius: 40px;
}

.p6{
  position: relative;
  background: white;
  height: 150px;
  width:  500px;
  bottom: 2110px;
  left: 830px;
  border-radius: 40px;
}
.zag{
  position:relative;
  font-family: "Inter";
  font-weight: 700;
  font-size: 32px;
  bottom: 1400px;
  left: 90px;
}
.top1{
  font-family: "Inter";
  font-size: 20px;
  font-weight: 600;
}
.word1{
  position: relative;
  width: 350px;
  height: 100px;
  bottom: 2240px;
  left: 45px;

}
.img1{
  position: relative;
  bottom: 2430px;
  left: 270px;
  height: 200px;
}

.word2{
  position: relative;
  width: 350px;
  height: 100px;
  bottom: 2280px;
  left: 45px;

}
.img2{
  position: relative;
  bottom: 2430px;
  left: 355px;
  height: 160px;
  width: 160px;
  border-radius: 20px;
}
.word3{
  position: relative;
  width: 350px;
  height: 100px;
  bottom: 2277px;
  left: 45px;

}
.img3{
  position: relative;
  bottom: 2456px;
  left: 305px;
  height: 210px;
  width: 210px;
}
.word4{
  position: relative;
  width: 350px;
  height: 100px;
  bottom: 3113px;
  left: 810px;

}
.img4{
  position: relative;
  bottom: 3280px;
  left: 1094px;
  height: 180px;
  width: 180px;
}
.word5{
  position: relative;
  width: 350px;
  height: 100px;
  bottom: 3135px;
  left: 810px;

}
.img5{
  position: relative;
  bottom: 3280px;
  left: 1120px;
  height: 180px;
  width: 180px;
}
.word6{
  position: relative;
  width: 350px;
  height: 100px;
  bottom: 3150px;
  left: 810px;
}

.img6{
  position: relative;
  bottom: 3325px;
  left: 1100px;
  height: 220px;
  width: 220px;
}

.btn3 {
  position: relative;
  height: 100px;
  width: 350px;
  background-color: #0399E9;
  color: white;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 700;
  border-radius: 10px;
  bottom: 300px;
  left: 390px;
  border: none;
  text-decoration: none; /* добавьте это свойство */
  padding: 20px; /* добавьте это свойство */
  cursor: pointer; /* добавьте это свойство */
}
/* оформление курса */


.kurs h2{
  color:white;
  z-index: 2;
  font-family: "Inter";
  font-size: 54px;
  position: relative;
  bottom: 3240px;
  left:650px;
} 
.kurs h3{
  font-family: "Inter";
  font-size: 42px;
  position: relative;
  bottom: 3300px;
  left:190px;
} 

.w2{
  font-family: "Inter";
  font-weight: 400;
  font-size: 28px;
  position: relative;
  bottom: 3330px;
}
.star2{
  position: relative;
  top: 32px;
  right:25px;
}
.ava{
  position: relative;
  left:830px;
  bottom:400px;
}

.invite{
  position: relative;
  bottom: 3600px;
  left: 200px;
  width: 1000px;
  height: 250px;
  background-color: #C9E8F6;
  border-radius: 25px;
}
.invite p{
  position:relative;
  top: 15px;
  left: 280px;
  font-family: "Inter";
  font-size: 24px;
  font-weight: 800;
  width: 500px;
  height: 100px;
}

.invite img{
  position: relative;
  bottom: 230px;
  right: 40px;
  height: 340px;
}





.bl{
  position: relative;
  bottom: 4555px;
  left: 610px;
  z-index: 1;
  background-color: #000;
  width: 200px;
  height: 65px;
  transform: skewy(6deg);
}

.tab h2{
  position: relative;
  bottom:3680px;
  font-family: "Inter";
  font-size: 48px;
  font-weight:700;
  text-align: center;
}

.tab p{
  position: relative;
  bottom:3700px;
  font-family: "Inter";
  font-size: 32px;
  font-weight:700;
  right: 320px;
  text-align: center;
}

.photo{
  background-color: #E7E9ED;
  width: 520px;
  height: 270px;
  position: relative;
  bottom: 3710px;
  left: 100px;
  border-radius: 20px;
}

.tab img{
  position: relative;
  width: 550px;
  bottom: 4000px;
  left:85px;
}

.star3{
  position: relative;
  bottom:28px;
  right: 32px;
}
.w3{
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  position: relative;
  left: 680px;
  bottom:4310px
}
.obr2{
  position: relative;
  bottom: 4310px;
  left: 800px;
  border-radius: 20px;
  width: 520px;
  height: 270px;
  background-color: #E7E9ED;
}

.teor p{
  position: relative;
  bottom:4270px;
  font-family: "Inter";
  font-size: 32px;
  font-weight:700;
  left: 370px;
  text-align: center;
}

.w4{
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
  position: relative;
  left: 100px;
  bottom:4245px
}

.obshee{
  z-index: 1;
  position: relative;
  width: 520px;
  height: 270px;
  background-color: #E7E9ED;
  bottom:4500px;
  left: 800px;
  border-radius: 25px;
  font-weight: 500;
  font-family: "Inter";
  font-size: 22px;
}

.af1 {
  position: relative;
  z-index: 2;
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  top: 30px;
  left: 20px;
}
.f1{
  position: relative;
  top:10px;
  text-align: center;
}

.af2 {
  position: relative;
  z-index: 2;
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  top: 60px;
  left: 20px;
}
.f2{
  position: relative;
  top:10px;
  text-align: center;
}

.af3 {
  position: relative;
  z-index: 2;
  width: 180px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  top: 90px;
  left: 20px;
}
.f3{
  position: relative;
  top:10px;
  text-align: center;
}
.af4 {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  bottom: 120px;
  left: 250px;
}
.f4{
  position: relative;
  top:10px;
  text-align: center;
}

.af5 {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  bottom: 90px;
  left: 250px;
}
.f5{
  position: relative;
  top:10px;
  text-align: center;
}

.af6 {
  position: relative;
  z-index: 2;
  width: 250px;
  height: 50px;
  background-color: white;
  border-radius: 15px;
  bottom: 60px;
  left: 250px;
}
.f6{
  position: relative;
  top:10px;
  text-align: center;
}

.creatures h2{
  position: relative;
  bottom: 4500px;
  left: 50px;
  text-align:center;
  font-family: "Inter";
  font-size: 48px;
}

/* Для оформления создатели */
.creatures p{
  text-align: center;
  font-family: "Inter";
  font-size: 16px;
  font-weight: 200;
}
.creators{
  text-align: center;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 300;
}
.fon1{
  position: relative;
  background: #71E1FA;
  height: 250px;
  width:  300px;
  bottom: 5330px;
  border-radius: 40px;
}
.fon2{
  position: relative;
  background: #8BB5F3;
  height: 250px;
  width:  300px;
  bottom: 5580px;
  left: 380px;
  border-radius: 40px;
}
.fon3{
  position: relative;
  background: #90D7FF;
  height: 250px;
  width:  300px;
  bottom: 5830px;
  left: 760px;
  border-radius: 40px;
}
.fon4{
  position: relative;
  background: #C6B1FF;
  height: 250px;
  width:  300px;
  bottom: 6080px;
  left: 1130px;
  border-radius: 40px;
}
.text1{
  position: relative;
  bottom: 4270px;
  width: 300px;
  height: 200px;
  background-color: #F0F0F0;
  border-radius: 25px;
}
.text2{
  position: relative;
  bottom: 4470px;
  left: 380px;
  width: 300px;
  height: 200px;
  background-color: #F0F0F0;
  border-radius: 25px;
}
.text3{
  position: relative;
  bottom: 4670px;
  left: 760px;
  width: 300px;
  height: 200px;
  background-color: #F0F0F0;
  border-radius: 25px;
}
.text4{
  position: relative;
  bottom: 4870px;
  left: 1130px;
  width: 300px;
  height: 200px;
  background-color: #F0F0F0;
  border-radius: 25px;
}

.egor{
  position: relative;
  bottom: 6296px;
  height: 200px;
  left:15px;
}
.serg{
  position: relative;
  bottom: 6486px;
  left: 380px;
  height: 190px;
  border-radius: 20px;
}

.igor{
  position: relative;
  bottom: 6696px;
  left: 780px;
  height: 210px;
}

.sanya{
  position: relative;
  bottom: 6895px;
  left: 1170px;
  height: 200px;
}

.img7{
  position: relative;
  bottom: 6650px;
  left: 140px;
  border-radius: 25px;
}
.text3 img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}
.text4 img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.text2 img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

.text1 img {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* ОТЗЫВЫ */
.gray{
  width: 1400px;
  height: 340px;
  text-align: center;
  background-color:#EDEDED;
  position: relative;
  left: 0px;
  bottom: 6625px;
  font-family: "Inter";
  font-size: 32px;
  font-weight: 200;
  z-index: 1;
}

.white {
  position: relative;
  bottom: 6850px;
  z-index: 2;

  width: 100px; /* измените на желаемый размер */
  height: 10px; /* измените на желаемый размер */
  left: 100px;
  padding: 10px; /* добавьте отступы для улучшения визуального дизайна */
  border: 1px solid #ccc; /* добавьте рамку для улучшения визуального дизайна */
  border-radius: 5px; /* добавьте закругление рамки для улучшения визуального дизайна */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* добавьте тень для улучшения визуального дизайна */
}
.white input[type="text"] {
  position: relative;
  right: 30px;

  bottom: 70px;
  width: 1000px; /* измените на желаемый размер */
  height: 140px; /* измените на желаемый размер */
  padding: 10px; /* добавьте отступы для улучшения визуального дизайна */
  border: 1px solid #ccc; /* добавьте рамку для улучшения визуального дизайна */
  border-radius: 10px; /* добавьте закругление рамки для улучшения визуального дизайна */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* добавьте тень для улучшения визуального дизайна */
}
.stars{
  width: 80px;
  position: relative;
  left: 200px;
  bottom: 6985px;
  z-index: 3;
}
.reviews p{
  position: relative;
  bottom: 7025px;
  left: 90px;
  font-family: "Inter";
  font-size: 18px;
  font-weight: 200;
  z-index: 4;
}
.gray2{
  text-align: center;
  background-color: #EDEDED;
  width: 180px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  position: relative;
  bottom: 7003px;
  left: 1130px;
  z-index: 5;
}
.blue{
  background-color: #3373EF;
  z-index: 4;
  position: relative;
  width: 200px;
  height: 80px;
  left: 1120px;
  border-radius: 30px;
  bottom: 7073px;
}

.ishitr{
  width: 60px;
  left: 160px;
  position: relative;
  bottom: 7020px;
  z-index: 5;

}

.names {
  z-index: 6;
  position: relative;
  bottom: 55px;
  text-align: center;
  left: 140px;
  width: 30px;
  font-family: "Inter";
  font-size: 28px;
}
.names p{
  z-index: 6;
  font-family: "Inter";
  font-size: 22px;
  font-weight: 500;
}
.company{
  position: relative;
  bottom: 50px;
}
.company p{
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
  left: 157px;
}
.adres{
  position: relative;
  bottom: 50px;
  left:67px;
}
.adres p{
  font-family: "Inter";
  font-size: 12px;
  font-weight: 400;
}
h4{
  z-index: 5;
  position: relative;
  bottom: 7200px;
  left: 600px;
  font-weight: 500;
  font-family: "Inter";
  font-size: 14px;
}
.navigation{
  position: relative;
  left: 560px;
  z-index: 5;
  bottom: 7220px;
}
.navigation li{
  font-family: "Inter";
  font-size: 12px;
  font-weight: 300;
}
.navigation2{
  color: #244A77;
  bottom: 7360px;
  z-index: 5;
  font-weight: 300;
  font-size: 14px;
  position: relative;
  left: 885px;
}
.navigation2 li{
  z-index: 5;
  font-weight: 300;
  font-size: 14px;
}
h5{
  position: relative;
  font-weight: 500;
  bottom: 7335px;
  left: 900px;
  z-index: 5;
  font-family: "Inter";
  font-size: 14px;
}
.letter{
  position:relative;
  width: 20px;
  bottom: 7390px;
  left:902px;
  z-index: 5;
}
.vk{
  position:relative;
  width: 24px;
  z-index: 5;
  bottom: 7385px;
  left: 900px;
}

.tg{
  position:relative;
  width: 24px;
  z-index: 5;
  bottom: 7409px;
  left: 930px;
}
/* чтобы сайт не двигался вправо */
body{
  overflow-x: hidden;
}
